<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="img/favicon.png" type="image/png">
    <title>ListAshop</title>
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
        <link href="~/Content/css/linericon.style.css" rel="stylesheet" />
        <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
        <link href="~/Content/css/owl.carousel.min.css" rel="stylesheet" />
        <link href="~/Content/css/simpleLightbox.css" rel="stylesheet" />
        <link href="~/Content/css/nice-select.css" rel="stylesheet" />
        <link href="~/Content/css/animate.css" rel="stylesheet" />
        <link href="~/Content/css/jquery-ui.css" rel="stylesheet" />
        <link href="~/Content/css/style.css" rel="stylesheet" />
        <link href="~/Content/css/responsive.css" rel="stylesheet" />

</head>
<body>
    <div>
        @Html.Partial("LayoutParts/_HeaderMainPage")
        @Html.Partial("LayoutParts/_BannerMain")
        @RenderBody()
        @Html.Partial("LayoutParts/_Footer")
    </div>
</body>
</html>

<script src="~/js/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="~/js/popper.js"></script>
<script src="~/js/bootstrap.min.js"></script>
<script src="~/js/stellar.js"></script>
<script src="~/js/simpleLightbox.min.js"></script>
<script src="~/js/jquery.nice-select.js"></script>
<script src="~/js/imagesloaded.pkgd.min.js"></script>
<script src="~/js/isotope-min.js"></script>
<script src="~/js/owl.carousel.min.js"></script>
<script src="~/js/jquery.ajaxchimp.min.js"></script>
<script src="~/js/mail-script.js"></script>
<script src="~/js/jquery-ui.js"></script>
<script src="~/js/jquery.waypoints.min.js"></script>
<script src="~/js/jquery.counterup.js"></script>
<script src="~/js/theme.js"></script>





